.product {
    height:360px;
    border: 1px solid #95A0A7;
    border-radius:8px;
    margin-bottom:20px;
    padding: 10px 8px;
    position: relative;
}
.product img{
    width: 100%;
    border-radius: 8px;
    height: 220px;
}
.product-info{
    margin-left: 10px;
    margin-top: 20px;
}
.product-info p{
    margin-bottom: 0px;
}
.rate{
    margin-top: 50px;
}
.button{
    background-color: #ede9f0;
    width: 100%;
    border-radius: 0 0 8px 8px;
    position:absolute;
    bottom: 0px;
    left: 0px;
    border: none;
    padding: 6px 0;
}
.button:hover{
    background-color: #e6d9f0
}