.cart-item{
    margin-top: 20px;
}
.cart-item img{
    width: 50px;
    height: 50px;
    border-radius:50%;
    margin-right: 15px;
    
}
.cart-item h6{
  margin: auto 7px;
}
.cart-item button{
    border: none;
    padding: 10px;
    border-radius:50%;
    background: none;
}
